.popup-window-titlebar{padding: 20px; height: auto;}
.popup-gettstart-title-bar{font-size: 20px;}
#popup-gettstart .webform-button-link-cancel{color: #fff !important;}
.timeman_main_hide{display: none !important;}